
body{ 
    color: #494949;
    line-height: 30px;
    font-size: 15px;
    font-family: 'AvantGarde CE';
    letter-spacing: 2px; 
}
:root {
    --primary-color: #15263e;
    --font-color: #ffffff;
    --secondary-color1:#b817e7;
    --secondary-color2:#ff0066;

}
h1, h2, h3, h4, h5, h6{
    font-family: 'ITC Avant Garde Gothic';
}

.jhon-text-color {
    background-image: -moz-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
    background-image: -webkit-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
    background-image: -ms-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jhon-gradian-bg {
    background-image: -moz-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
    background-image: -webkit-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
    background-image: -ms-linear-gradient(49deg, rgb(219, 219, 219) 0%, rgb(41, 10, 89) 0%, rgb(162, 26, 240) 0%, rgb(255, 0, 114) 100%);
}

.header-area {
    background-color: var(--primary-color);
    background-size: cover;
    background-repeat: no-repeat;
}



.primary-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.primary-menu ul li a {
    font-family: 'ITC Avant Garde Gothic';
    font-weight: 500;
    font-size: 16px;

}

.primary-menu ul li a:before {
    content: '-';
    margin-right: 25px;
}

.primary-menu ul li:first-child a:before {
    display: none;
}

.jhon-banner {
    background-image: url(img/jhon-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
    line-height: normal;
}
.jhon-banner-area h1{
    font-size: 200px;
}
p.jhon-subtitle{
    font-size: 120px;
    font-family: 'ITC Avant Garde Gothic';
    margin-top: -80px;
    letter-spacing: 78px;
    margin-bottom: -32px;
    
}
.jhon-banner-area h3{
    font-size: 100px;    
    margin-bottom: -35px;
}
.jhon-about-left h3{
    color: var(--secondary-color1);
}
.single-progress{
    color: #4d4d4d;
}
.jhon-single-contact-icon i{
    background-color: var(--primary-color);
    width: 80px;
    height: 80px;
}
.jhon-single-contact-content h2{
    color: #4d4d4d;
}
.jhion-section-heading h2{
    color: var(--primary-color);
}
.jhon-single-service i{    
    width: 100px;
    height: 100px;
}
.jhon-testimonial-area{
    background-image: url(img/testi-bg.jpg);
    background-repeat: no-repeat;
}

.jhon-portifollio-conent-left ul li a {
    font-family: 'ITC Avant Garde Gothic';
}
.testimonial-content-right img{
    width: 100px;
    height: 100px;
}
.right-quate {
    margin-left: 650px;
  }
.carousel-control-prev-icon {
    margin-left: -300px;
  }
  .carousel-control-next-icon {
    margin-right: -300px;
  }
  .jhon-before{
    position: relative;
    padding-left: 30px;
  }
  .jhon-before:before{
    content: '';
    height: 52px;
    width: 10px;
    background-color: #ffffff;
    top: 6px;
    left: 0;
    position: absolute;
  }
  .jhon-affter{
    position: relative;
    padding-right: 30px;
  }
  .jhon-affter::after{
    content: '';
    height: 52px;
    width: 10px;
    background-color: #ffffff;
    top: 6px;
    right: 0;
    position: absolute;
  }
  .jhon-contact-us-area{
    background-image: url(img/fotter-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;    
  }
.jhon-contact-us{
    background-color: var(--primary-color);
    width: 1170px;
    height: 580px;
    margin: 0 auto;    
}

    
